body {
    background-color: black;
    height: calc(100vh - 20px);
    margin: 0px;
    padding: 10px;
}

span {
    display: inline-block;
    line-height: 0.9;
    /* margin-top: 0.5px; */
}

@media print {
    #header, #inputs {
        visibility: hidden;
    }
    #output {
        position: absolute;
        top: 0px;
        left: 0px;
        min-width: calc(100% - 8px);
        height: fit-content !important;
        overflow-y: visible;
        margin: 0px;
    }
    #output * {
        break-inside: avoid;
    }
    #container, body, html {
        height: fit-content !important;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}

/* HEADER START */
#header {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
}

#baseForm {
    width: fit-content;
}

#printButton {
    margin-left: auto;
}
/* HEADER END */

#container {
    display: flex;
    width: 100%;
    height: calc(100% - 30px);
}

#problemList {
    font-size: 32px;
    margin-left: 10px;
    background-color: rgb(20, 20, 20);
    overflow-y: auto;
    width: calc(100% - 10px);
}

div.problemListRow {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

input.problemName {
    width: 40%;
}

button.editProblem {
    margin: auto;
    vertical-align: baseline;
}

textarea.input {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    font-size: 28px;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    margin: 0px;
    resize: none;
}

#inputs {
    width: calc(50% - 10px);
    height: calc(100% - 2px);
    font-size: 28px;
    background-color: rgb(20, 20, 20);
    overflow-y: scroll;
}

#output {
    width: calc(50% - 10px);
    height: calc(100% - 12px);
    font-size: 28px;
    background-color: whitesmoke;
    color: black;
    align-items: center;
    display: block;
    margin-left: auto;
    padding: 5px;
    overflow-y: scroll;
}

div.baseOutput {
    display: flex;
    width: calc(100% - 4px);
    margin-bottom: 10px;
    border: 2px solid black;
}

span.baseOutputLabel {
    position: relative;
    top: 0px;
    left: 5px;
    z-index: 2;
    display: block;
}

div.baseOutputContents {
    display: block;
    position: relative;
    top: 0px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

span.segment {
    display: block;
    margin-bottom: 10px;
    break-inside:avoid;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/* Group CSS */
i {
    /* padding-left: 4px;
    padding-right: 8px; */
}

span.f {
    display: inline-block;
    font-size: 65%;
}

/* Sub Segment CSS */
span.visibleFront, span.visibleBack {
    line-height: 0.9;
}

/* OP CSS */
span.and {
    font-size: 115%;
    font-weight: 1000;
    vertical-align: text-top;
}

span.copen {
    font-size: 25%;
    font-weight: bolder;
    vertical-align: middle;
}

span.denominator {
    border-top: 2px solid black;
}

span.frac {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    line-height: 0.9;
}

span.infinity {
    font-size: 175%;
    vertical-align: sub;
    line-height: 0.0;
}

span.logbase {
    font-size: 80%;
    vertical-align: sub;
}

span.minus {
    margin-right: 2px;
}

span.operator {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}

span.operationInput {
}

span.or {
    font-weight: lighter;
    vertical-align: text-top;
}

span.over {
    font-size: 75%;
    line-height: 0;
    margin-top: 5px;
}

span.pow {
    vertical-align:top;
    font-size: 70%;
}

span.prime {
    margin-left: 2px;
}

span.stimes {
    font-size: 150%;
    vertical-align: text-top;
}

span.sqrt {
    text-decoration: overline;
    font-size: 75%;
}

span.under {
    font-size: 75%;
    line-height: 0.6;
}