body {
    margin: 0px;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: row;
}

#input {
    width: 48%;
    height: 97%;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    margin: 1vh;
    border: 0px;
    resize: none;
}

#output {
    width: 48%;
    height: 96.5%;
    background-color: whitesmoke;
    color: black;
    margin: 1vh;
    padding-top: 0.5%;
    padding-left: 0.5%;
    text-align: center;
}
