html {
	height: 100%;
}

body {
	background-color: black;
	min-height: 100%;
	margin: 0px;
	max-height: 100%;
	padding: 0px;
	display: flex;
	flex-direction: row;
}

div.page {
	max-height: 100%;
	width: 100%;
}

#suggestion {
	color: gray;
}

div.baseOutput {
	display: flex;
	gap: 6px;
	width: calc(100% - 4px);
}

div.baseOutputContents {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 6px;
	z-index: 1;
}

span.baseOutputLabel {
	display: block;
	line-height: 1;
	position: relative;
	text-align: left;
	word-wrap: break-word;
	z-index: 2;
}

img.embeddedImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 85%;
	height: auto;
	page-break-inside: avoid !important;
}
