div.page#projects {
    display:        flex;
    flex-direction: column;

    #header {
        display: flex;
        flex-direction: row;
        width: 100%;
        color: whitesmoke;
        gap: 20px;

        > a {
            color: whitesmoke;
            font-size: xx-large;
            text-decoration: none;
            font-weight: bolder;
        }

        p {
            margin-top: auto;
            margin-bottom: auto;

            a:link {
                color: rgb(0, 255, 255);
            }

            a:visited {
                color: rgb(0, 150, 150);
            }
        }
    }

    #container {
        display:        flex;
        flex-direction: row;
        height:         100%;
        width:          100%;
        overflow:       hidden;

        #sideBar {
            display:        inline-flex;
            flex-direction: column;
            padding:        10px;
            position:       relative;
            width:          2.5%;
            border-right:   solid 1px whitesmoke;

            * {
                background-color: whitesmoke;
                margin-bottom:      10px;
                padding:            0px;
                border-radius:      2px;
                border:             solid whitesmoke 2px;
            }
        }

        #list {
            border-top:     solid whitesmoke 1px;
            display:        flex;
            flex-direction: row;
            flex-wrap:      wrap;
            overflow-y:     scroll;
            width:          100%;

            .item {
                align-items:      center;
                border:           solid whitesmoke 2px;
                border-radius:    10px;
                box-sizing:       border-box;
                background-color: black;
                flex-direction:   column;
                height:           250px;
                margin-left:      50px;
                margin-top:       50px;
                padding:          10px;
                position:         relative;
                width:            250px;

                textarea.name {
                    background-color: black;
                    border:           0px;
                    color:            whitesmoke;
                    font-size:        x-large;
                    margin-top:       auto;
                    margin-bottom:    auto;
                    resize:           none;
                    text-align:       center;
                    width:            80%;
                }

                div.actions {
                    bottom:          10px;
                    display:         flex;
                    flex-direction:  row;
                    justify-content: space-around;
                    position:        absolute;
                    width:           90%;
                }

                div.actions * {
                    aspect-ratio:  1/1;
                    font-size:     xx-large;
                    line-height:   1.0;
                    border:        0px;
                    border-radius: 5px;
                }
            }

            #addProject {
                background-color: black;
                border-style:     dashed;
                color:            whitesmoke;
                font-size:        xx-large;
            }

            #addProject:hover, #add:active {
                color:        lawngreen;
                border-color: lawngreen;
            }
        }
    }

    #revisions {
        background-color: black;
        border:           solid whitesmoke 2px;
        height:           80%;
        width:            20%;

        #container {
            display:        flex;
            flex-direction: column;
            height:         100%;
            width:          100%;

            * {
                font-size:      x-large;
            }

            #revisionList {
                display:        flex;
                flex-direction: column;
                gap:            15px;
                height:         100%;
                margin-bottom:  15px;
                margin-left:    auto;
                margin-right:   auto;
                overflow-y:     scroll;
                width:          min-content;
            }

            #revisionList * {
                
            }
    
            #closeRevisions {
                border:           0px;
                margin-left:      auto;
                margin-right:     auto;
                margin-top:       auto;
            }
        }
    }

    #revisions::backdrop {
        backdrop-filter: blur(2px);
    }
}
