math {
	margin-left: 5%;
	max-width: 100%;
	font-size: inherit;
}

math * {
	break-inside: avoid !important;
	break-after: always !important;
	break-before: always !important;
	line-height: 2;
	max-width: inherit;
	overflow-wrap: break-word;
}
